<p id="notice"><%= notice %></p>

<h1>Taggeds</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Creator</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taggeds.each do |tagged| %>
      <tr>
        <td><%= tagged.title %></td>
        <td><%= tagged.creator %></td>
        <td><%= tagged.url %></td>
        <td><%= link_to 'Show', tagged %></td>
        <td><%= link_to 'Edit', edit_tagged_path(tagged) %></td>
        <td><%= link_to 'Destroy', tagged, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tagged', new_tagged_path %>
