<h1>Show Tags</h1>

<div class="record card">
  <div class="card-body">
    <h5 class="card-title"><%= @record.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @record.creator %></h6>
    <p class="card-text">
      <% @record.free_tags.each do |tag| %>
        <span class="badge badge-pill badge-secondary"><%= tag.term %></span>
      <% end %>
    </p>
    <p class="card-text">
      <% @record.scale_tags.each do |tag| %>
        <span class="badge badge-pill badge-secondary"><%= "#{tag.scale_left} – #{tag.scale_right}: #{tag.value}" %></span>
      <% end %>
    </p>

    <%= link_to "Link", @record.url, class: "btn btn-primary card-link" %>
    <%= link_to "Add more tags", new_record_tag_path(@record), class: "card-link" %>
  </div>
</div>

<%= link_to "Back to records", records_path %>
