<h1>Add Tags</h1>

<%= form_for :tags, as: :post, url: record_tags_path(@record) do |f| %>

  <%= render 'free_tags_form', f: f %>
  <%= render 'scale_tags_form', f: f %>

  <%= f.submit 'Add tags', class: "btn btn-primary" %>

  <%= link_to 'Back', record_tags_path(@record) %>
<% end %>
