<!DOCTYPE html>
<html>
  <head>
    <title>Tagger</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |type, notice| %>
        <div class="alert <%= type == 'alert' ? 'alert-danger' : 'alert-primary' %>">
          <%== notice %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
